<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="user" class="spring.自定义属性编辑器.UserManager">
        <property name="date" >
            <value>2020-12-12</value>
        </property>
    </bean>
    <bean class="org.springframework.beans.factory.config.CustomEditorConfigurer" >
        <property name="customEditors">
            <map>
                <entry key="java.util.Date">
                    <bean class="spring.自定义属性编辑器.DatePropertyEditor">
                        <property name="format" value="yyyy-MM-dd"></property>
                    </bean>
                </entry>
            </map>
        </property>
    </bean>
</beans>