<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <import resource="spring-dao.xml" />
    
    <tx:annotation-driven transaction-manager="myDataSourceTransactionManager" />
    <context:component-scan base-package="spring" />


    <bean id="user" class="spring.自定义属性编辑器.UserManager">
        <property name="date" >
            <value>2020-12-12</value>
        </property>
    </bean>
    <bean class="org.springframework.beans.factory.config.CustomEditorConfigurer" >
        <property name="customEditors">
            <map>
                <entry key="java.util.Date" value="spring.自定义属性编辑器.DatePropertyEditor">
                </entry>
            </map>
        </property>
    </bean>
</beans>